/* To amend font using google fonts  */
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

/* Responsive background image for phones */
@media only screen and (max-width : 768px) {
    body {
        background-color: #30838C;
        height: 100vh;
    }
}

/* Body styling including fixed background image and font*/
@media only screen and (min-width : 769px) {
body{
     background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50) ), url('../images/poolbackground.jpg') fixed no-repeat;
     -webkit-background-size: cover;
     background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Bitter', serif;
}
}

/* Navigation Bar and dropdown menu styling */

nav{
    background-color: #073A59;
    position: center;
    color: #fff;
}

.special-offers a{
    background-color: #7997F2;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;

}

/* Home page main section styling */

.responsive-columns {
    padding-top: 30px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 300px;
     -moz-column-width: 300px;
          column-width: 300px;
}

.paragraph-home-page{
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
    color: #fff;
}

#contact-us{
    text-decoration: none;
    color: #073A59;
    font-weight: bolder;
}
.ameninties-blocks{
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}
.ameninties-heading{
    background-color: rgba(60, 60, 60, 0.6);
    border-radius: 20px;
    width: 370px;
    margin: auto;
    color: #fff;
    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}
.ameninties-design{
    background-color: rgba(60, 60, 60, 0.6);
    border-radius: 25px;
    margin: 5px 5px;
    width: 250px;
    display: inline-block;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}

/* Footer styling and responsive sections in footer */

footer{
    background-color: #D9C6BA;
    top: 400px;
    margin-bottom: 0;
    padding-top: 10px;
}
.social-links i{
    font-size: 250%;
    margin: 1%;
    padding: 20%;
    color: #073A59;
}
.list-inline-item{
    margin: 10px 20px 5px 20px;
}
.horizontal-bar{
border: 3px solid white;
border-radius: 1px;
}
@media only screen and (min-width : 991px){
.horizontal-bar {
display: none;
    }
}

/* Contact Us page styling */

.section-form{
    height: 1000px;
}
.signup-form{
    margin-top: 100px;
    margin-bottom: 50px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    padding: 30px 30px 30px 30px;
    left: 2%;
    border-radius: 20px;
  }
  .signup-form h2{
    color: #fafafa;
    margin-bottom: 20px;
  }
.text-input{
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: solid 1px #fafafa;
  border-radius: 2px;
}
.text-input:hover{
border-color: #073A59;
  }
.form-control{
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 75px;
  margin: 5px 0 20px 0;
  border: solid 1px #fafafa;
  border-radius: 2px;
}
.form-control:hover{
border-color: #073A59;
  }
  .join-button{
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #073A59;
  color: #fafafa;
  display: inline-block;
}
.join-button:hover{
  background-color: #fafafa;
  color: #073A59;
}

/*Membership page styling */

.section1-membership{
    padding-top: 75px;
}

.membership-prices{
    color: #fff;
}
.highlight{
    background-color: rgba(60, 60, 60, 0.6);
    border-radius: 20px;
    width: 370px;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    margin: auto;
    margin-bottom: 10px;
}
  .membership-heading{
    background-color: rgba(60, 60, 60, 0.6);
    border-radius: 20px;
    margin: auto;
    color: #fff;
    width: 370px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}

/* Gallery page styling and responsive layout of photos 4 columns/2 columns/1 column */

.gallery-img{
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-radius: 5%;
}
#gallery-photos{
    padding-bottom: 10px;
    padding-top: 60px;
    }
.centre-img{
    text-align: center;
    display: block;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 5px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0px 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Section heading styling */

.section-1-heading{
    background-color: rgba(60, 60, 60, 0.6);
    border-radius: 20px;
    width: 370px;
    margin: auto;
    color: #fff;
    margin-top: 90px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}

/* Special Offers page styling */

.section-heading-special-offers{
    margin-top: 75px;
}
.special-offers-headings1{
    text-align: center;
    background-color: rgba(60, 60, 60, 0.6);
    border-radius: 20px;
    margin: auto;
    color: #fff;
    width: 370px;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}
.special-offers-headings{
    text-align: center;
    background-color: rgba(60, 60, 60, 0.6);
    border-radius: 20px;
    margin: auto;
    color: #fff;
    width: 370px; 
    border-width: 1px;
    border-style: solid;
    border-color: #fff;  
}

/* Change colour of text in tables */
.table-style{
    color: #fff;
    }
.opening-hours{
    color:#fff;
}