body{
     background: url('../images/swimming-pool.jpg') fixed no-repeat;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav{
    background-color: blue;
}

.section-1-heading{
    padding-top: 75px;
}
.ameninties-design{
    background-color: gray;
    border-radius: 25px;
    margin: 10px 5px;
    text-size-adjust: 100%;
    position: relative;
}

.horizontal-bar{
border: 3px solid white;
border-radius: 1px;
}
@media(min-width:967px) {
hr .horizontal-bar {
display: none;
    }
}



footer{
    background-color: silver;
    top: 400px;
    margin-bottom: 0;
}

.special-offers a{
    color: red;
    background-color: pink;
}
