body{
     background: url('../images/swimming-pool.jpg') no-repeat;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav{
    background-color: blue;
}

footer{
    background-color: silver;
}

.special-offers a{
    color: red;
}
